@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "PlayfairDisplay";
    src: url("/fonts/PlayfairDisplay.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "TTMarxiana";
    src: url("/fonts/TTMarxiana-Antiqua.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "TTMarxiana-Italic";
    src: url("/fonts/TTMarxiana-AntiquaItalic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: "Southern";
    src: url("/fonts/Southern.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }
}
